:host {
  .img-box {
    display: flex;
    justify-content: center;

    img {
      width: 600px;
      height: 400px;
      margin: 20px;
      object-fit: cover;
      border-radius: 10px;
      border: 1px solid #2f3346;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
  }

  .info {
    h1 {
      position: absolute;
      width: 100%;
    }
  }

  .navigation {
    margin-top: 50px;

    a {
      margin: 0px 35px;
    }
  }
}